@mixin flex-row-space-evenly (){
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.armas{
    background-image:url(/armas/fondoarsenal.png) ;
    background-size:cover;
    background-position-x: center;
    .titu{
        display: flex;
        justify-content: center;
        margin: 0;
        font-weight: bold;
    }
    .card1,.card2,.card3{
        @include flex-row-space-evenly;    
        .card{
            margin-top: 50px;
            margin-bottom: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(184, 83, 83, 0.658);
            
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.5s;
            }
            img{
                height: 200px;
                width: 23rem;
            }
        }
    }
}
@media screen and (max-width: 768px){
    .card1,.card2,.card3{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 350px;
            
            &:hover{
                transform: scale(1.1,1.1);
                transition: 0.4s;
            }
            img{
                height: 100px;
                width: 150px;
            }
        }
    }
}