.formu{
    background-color:grey;
}
.formul{
    list-style: none;
    padding: 10px;
    background-color: grey;
    display: flex;
    justify-content: center;
}
.volver>a{
    background-color:grey;
    color: white;
    padding: 10px;
    display: block;
    text-decoration: none;
    min-width: 100px;
}
.volver>a:hover{
    color: black;
    background-color: #eaeaea;
}
.fondo{
    background-color: rgba(179, 178, 178, 0.705);
}